* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.1px solid red; */
}

body {
  font-family: "Inter", sans-serif;
}

button {
  border: none;
}

button,
.nav-item {
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

/* Main container */
.container {
  display: grid;
  grid-template-areas: "sidebar main";
  height: 100vh;
  grid-template-columns: 280px 1fr;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: rgb(150, 125, 174);
  color: white;
  padding: 10px;
}

.sidebar svg {
  fill: white;
  cursor: pointer;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-bottom: 35px;
}

.sidebar-header svg {
  width: 70px;
}

.nav-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 10px;
  gap: 30px;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.nav-item svg {
  fill: currentColor;
  transition: fill 0.3s ease;
}

.nav-item:hover {
  color: aqua;
}

.nav-group.primary-nav {
  margin-bottom: 80px;
}

/* Main content */
.main {
  grid-area: main;
}

/* Header */
/* Header top */
.header {
  background-color: bisque;
  padding: 35px 30px 30px 30px;
  display: grid;
  gap: 20px;
}

.header-top {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.search svg {
  width: 30px;
  height: 30px;
}

.search input {
  width: 300px;
}

.profile-notif {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-notif h1 {
  font-size: 1.2rem;
}

.profile-notif img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.notif-button {
  width: 25px;
  height: 25px;
  background-color: transparent;
}

/* Header bottom */
.header-bottom {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(240px, 2fr) 1fr;
}

.profile-greeting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-greeting h1 {
  font-size: 1.65rem;
}

.profile-greeting img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 10px;
}

.actions button {
  padding: 10px;
  border-radius: 30px;
  font-family: inherit;
}

.search input,
.actions button {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: none;
  height: 30px;
  font-size: 1rem;
  border-radius: 23px;
  padding-left: 10px;
  height: 40px;
}

.actions button:hover {
  background-color: rgb(207, 203, 203);
}

/* Content area */
.content {
  display: grid;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  grid-template-columns: 2fr 1fr;
}

.projects {
  grid-area: projects;
  padding: 20px;
}

.projects h1 {
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  padding: 10px;
}

.project-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.project-actions button {
  width: 30px;
  background-color: white;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}


/* Media Queries */
@media (max-width: 900px) {
  .header-bottom {
    grid-template-columns: 1fr;
  }

  .profile-greeting {
    justify-content: center;
  }

  .content {
    grid-template-areas:
      "projects"
      "announcements"
      "trending";
    grid-template-columns: 1fr;
  }
}

@media (max-width: 915px) {
  .profile-greeting {
    display: none;
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-areas:
      "sidebar"
      "main";
    grid-template-columns: 1fr;
  }
}
